/* Profile Container */
.profile-container {
    max-width: 1200px;
    margin: auto;
    /* padding: 20px; */
    
}

.container{
    padding: 0 !important;
    margin: 0 !important;
}

/* Profile Picture and Info Section */
.text-center {
    text-align: center;
}

/* Profile Picture styling */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 50%;
}

.mb-3 {
    margin-bottom: 1rem;
}

/* User Information Styling */
.profile-username {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.profile-container p {
    margin-bottom: 1rem;
}

strong {
    font-weight: 600;
}

/* Lists */
.profile-container ul {
    list-style: none;
    padding: 0;
}

.profile-container ul li {
    margin-bottom: 0.5rem;
}

.profile-container ul li a {
    text-decoration: none;
    color: #007bff;
}

.profile-container ul li a:hover {
    text-decoration: underline;
}

/* Section Headers */
.section-title {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
    color: #343a40;
}

/* Responsive design */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-lg-4, .col-lg-8 {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.sidebar {
    position: sticky;
    top: 0;
}

.hidden-item {
    display: none;
}


progress {
    height: 20px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}

progress[value] {
    appearance: none;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #f3f3f3;
}

progress[value]::-webkit-progress-value {
    background-color: #4caf50; /* Change color as needed */
}

progress[value]::-moz-progress-bar {
    background-color: #4caf50; /* Change color as needed */
}

