<%- layout('/layouts/boilerplate') -%>
<div class="container mt-3">
    <h3><%= user.username %>'s Connections</h3>
    <ul class="list-group">
        <% user.connections.forEach(connection => { %>
        <li class="list-group-item">
            <a href="/profile/<%= connection._id %>"><%= connection.username %></a>
        </li>
        <% }) %>
    </ul>
</div>